.mainself {
    width: 80%;
    margin: auto;
}

.tab1 {
    margin-top: 10px;
}

table tr td {
    width: 160px;
    padding: 5px 30px 20px 30px;
    background-color: #fff;
}

.hotvedio {
    margin-top: 40px;
}

.hot {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.hotleft {
    width: 264px;
    float: left;
}

.hotleft img {
    width: 264px;
    height: 140px;
}

.hotright {
    width: 600px;
    float: left;
    color: #4a4a4a;
    font-size: 12px;
}

.p1 {
    color: #000;
    font-size: 14px;
}