.memain1 {
    margin-left: 40px;
}

.memain1 table{
    width: 80%;
}

.maintop {
    Display: flex;
    justify-content: space-between;
}

.maintop img {
    width: 30px;
    height: 30px;
}

.t1 {
    width: 16%;
    font-size: 14px;
}

.t1 img {
    width: 100%;
    height: 120px;
}

.w1 {
    color: #4A4A4A;
    font-size: 10px;
}

.hr1 {
    margin-top: 30px;
}

.memain2 {
    margin-left: 40px;
    margin-top: 30px;
}

.sp1 {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.memain2 table{
    width: 80%;
}